name: Docker Compose Build and Test

on:
  push:
    branches:
      - master  # Trigger on push to main branch
  pull_request:
    branches:
      - master  # Trigger on pull requests to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install docker-compose -y

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and run Docker Compose
      run: |
        docker-compose up -d --build
        
    - name: Tear down Docker Compose
      run: docker-compose down
